

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
       font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    color: #333;
}
.navbar {

    background-color:#eef2f5;
    
     display: flex;
    justify-content: flex-end;  /* moves to right */
    gap: 12px;                  /* space between links */
    padding: 10px 20px;
}
   
   body::before {
    content: "";
    /* Use your Flask image path here */
    background-image: url("{{ url_for('static', filename='background.png') }}");
    
    background-size: contain;     /* 'contain' keeps the logo shape, 'cover' fills screen */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Keeps it in place while scrolling */
    
    /* Control the transparency here (0.1 is very light, 1.0 is solid) */
    opacity: 0.1; 
    
    /* This stretches the watermark to cover the whole screen */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* Puts the image BEHIND your text */
    z-index: -1; 

    
    
}

header {
    background-color: #0a2540;
    color: white;
    text-align: center;
    padding: 50px 20px;
}
header h1 {
    margin-bottom: 10px;
}
header p {
    font-size: 18px;
    margin-bottom: 20px;
}
.btn {
    background-color: #0a2540;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;   /* IMPORTANT */

    
}
.btn:hover {
    background-color: #1abc9c;
}
.section {
    padding: 40px 60px;
    background-color: white;
}
.section.light {
    background-color: #eef2f5;
}
.section h2 {
    margin-bottom: 15px;
    color: #0a2540;
}
.section ul {
    margin-left: 20px;
}
footer {
    background-color: #0a2540;
    color: white;
    text-align: center;
    padding: 15px;
}
